/* Style buttons */
.btn {
    /*background-color: DodgerBlue; !* Blue background *!*/
    border: none; /* Remove borders */
    color: #266ea5; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 25px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #3b5998;
    color: white;
}

.home-btn:hover {
    color: white;
}
